<a href="https://colab.research.google.com/github/tocom242242/aifx_blog_codes/blob/master/pandas_samples/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'C1': ['A', 'B', 'A', 'C', 'A', 'C', 'A'],
    'C2': [1, 4, 8, 16, 32, 64, 128],
})
print(df)

  C1   C2
0  A    1
1  B    4
2  A    8
3  C   16
4  A   32
5  C   64
6  A  128

In [5]:
mean = df.groupby("C1").mean()
print(mean)

       C2
C1
A   42.25
B    4.00
C   40.00

In [ ]:
df.groupby("C1").get_group("A")

  C1   C2
0  A    1
2  A    8
4  A   32
6  A  128

In [ ]:
df.groupby("C1")["C2"].mean()

C1
A    42.25
B     4.00
C    40.00
Name: C2, dtype: float64

In [ ]:
df.groupby(["C1","C2"]).size()

C1  C2
A   1      1
    8      1
    32     1
    128    1
B   4      1
C   16     1
    64     1
dtype: int64

In [ ]:
df.groupby(["C1","C2"]).size().unstack()

C2  1    4    8    16   32   64   128
C1
A   1.0  NaN  1.0  NaN  1.0  NaN  1.0
B   NaN  1.0  NaN  NaN  NaN  NaN  NaN
C   NaN  NaN  NaN  1.0  NaN  1.0  NaN