In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame([["A", "B", "C"], ["D", "E", "F"], ["G", "H", "I"], ["J", "K", "L"]], 
                  index=["R1", "R2", "R3", "R4"], 
                  columns=["C1", "C2", "C3"])
df

   C1 C2 C3
R1  A  B  C
R2  D  E  F
R3  G  H  I
R4  J  K  L

In [5]:
# C2カラムにB,Hが含まれている行の抽出
words = ["B", "H"]
pattern = "|".join(words)
df.loc[df["C2"].str.contains(pattern)]

   C1 C2 C3
R1  A  B  C
R3  G  H  I

In [9]:
# C2カラムにB,Hを「含まない」行
words = ["B", "H"]
pattern = "|".join(words)
df.loc[~df["C2"].str.contains(pattern)]

   C1 C2 C3
R2  D  E  F
R4  J  K  L